/* Custom styles for Nandana Sale Center */

body {
    background-color: #f7f7f7;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .col-md-4 {
    margin-bottom: 30px;
  }
  
  h3 {
    margin-top: 15px;
  }
  
  p {
    margin-bottom:

    
    